@import "variables.css";

.root {
    padding: 12px 16px;
    background: var(--color_action);
    border-radius: 2px;
    color: var(--color_white);
    border: 1px solid var(--color_action);
}

.root:active {
    position: relative;
    top: 1px;
}

.root.--secondary {
    background: var(--color_white);
    color: var(--color_action);
}
