:root {
    --timing-fast: 0.1s;
    --timing-medium: 0.25s;
    --timing-slow: 0.3s;

    --easing-standard: cubic-bezier(0.4, 0.0, 0.2, 1);
    --easing-decelerate: cubic-bezier(0.0, 0.0, 0.2, 1);
    --easing-accelerate: cubic-bezier(0.4, 0.0, 1, 1);
}
