:root {
    --color-action: #4B82FB;
    --color-action-dark: #3c6cfb;

    --color-white: #fff;
    --color-black: #333;

    --color-gray-border: #e8e8e8;
    --color-gray-text: #979797;
    --color-gray-background: #F7F9FA;
}
