import React from 'react';
import * as T from './{{name}}.types';
import s from './{{name}}.pcss';

const {{name}} = (props: T.Props) => {
  return (
    <div className={s.root}>

    </div>
  );
};

export default {{name}};
